<body>

  <div class="col-md-4">
  </div>
  <div class="col-md-4 offset-md-4" style="text-align:center; margin-top: 10em">
    <h1 style="text-align: center">Expense Tracker</h1>

    <div id="signup">
      <h2 style="text-align: left">Signup</h2>
      <form action="/signup" method="post">

        <label for="name">What's your name?</label>
        <br/>
        <input name="name" type="text" />
        <br/>

        <label for="email">What's your email?</label>
        <br/>
        <input name="email" type="text" />
        <br/>

        <label for="password">Choose a Password</label>
        <br/>
        <input name="password" type="password" />
        <br/>

        <input type="submit" />
      </form>
    </div>
  </div>
</body>