extends layout

block content
  h1= title
  p Welcome to #{title}
  div.col-md-4
    // register form
    form(method="POST" action="/")
      div.form-group 
          label.control-label(for="name") Name:
          input#name.form-control(type='text', placeholder='Enter transaction name' name='name')
      div.form-group
          label.control-label(for="amount") Amount:
          input#amount.form-control(type='text', placeholder='Dollar amount' name='amount')
      button.btn.btn-primary(type='submit') Add transaction
